{% extends "base.html" %}
{% load static %}

{% block title %}HomePage{% endblock  %}
{% block contents %}
<center>
    <br>
    <h2>About us :</h2>
    <br>
</center>
</br>
<p>Welcome to Fruit Haven, your go-to destination for all things fruity! At Fruit Haven, we’re passionate about bringing you the freshest, most flavorful fruits from around the globe. Our mission is to provide high-quality, nutritious produce that not only tastes amazing but also supports a healthy lifestyle.

    Founded on a love for nature's sweet bounty, our team is dedicated to curating a diverse selection of fruits, from everyday favorites like apples and oranges to exotic finds like dragon fruit and rambutan. We work closely with trusted growers and suppliers to ensure that every piece of fruit meets our rigorous standards for quality and freshness.
    
    Whether you're looking for the perfect snack, a new ingredient for your favorite recipe, or simply exploring the world of fruits, we’re here to help. Dive into our site to discover seasonal selections, helpful tips, and delicious recipes that celebrate the wonderful world of fruit. Thank you for joining us on this flavorful journey!
    
    Welcome to Fruit Haven, your go-to destination for all things fruity! At Fruit Haven, we’re passionate about bringing you the freshest, most flavorful fruits from around the globe. Our mission is to provide high-quality, nutritious produce that not only tastes amazing but also supports a healthy lifestyle.

Founded on a love for nature's sweet bounty, our team is dedicated to curating a diverse selection of fruits, from everyday favorites like apples and oranges to exotic finds like dragon fruit and rambutan. We work closely with trusted growers and suppliers to ensure that every piece of fruit meets our rigorous standards for quality and freshness.

Whether you're looking for the perfect snack, a new ingredient for your favorite recipe, or simply exploring the world of fruits, we’re here to help. Dive into our site to discover seasonal selections, helpful tips, and delicious recipes that celebrate the wonderful world of fruit. Thank you for joining us on this flavorful journey!

Fruit Haven Team
    </p>
{% endblock contents %}